body {
    font-family: Arial, Verdana, Helvetica;
    font-size: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#debug {
    background-color: #eee;
    position: absolute;
    top: 5px; 
    left: 5px;
    padding: 5px;
    z-index: 1000;
    
    /* http://css-tricks.com/snippets/css/cross-browser-opacity/ */
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    /* IE 5-7 */ 
    filter: alpha(opacity=75);
    /* Netscape */
    -moz-opacity: 0.75;
    /* Safari 1.x */
    -khtml-opacity: 0.75;
    /* Good browsers */
    opacity: 0.75;
}

a.control, a.control:hover, a.control:visited, a.control:active {
    float: left;
    display: block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
}

a.down        { background-image: url(../images/control_rewind.png); }
a.down_active { background-image: url(../images/control_rewind_blue.png); }
a.up          { background-image: url(../images/control_fastforward.png); }
a.up_active   { background-image: url(../images/control_fastforward_blue.png); }
a.pause       { background-image: url(../images/control_pause_blue.png); }
a.play        { background-image: url(../images/control_play_blue.png); }
a.restart     { background-image: url(../images/control_repeat_blue.png); }

.square {
    background-color: #eee;
    float: left;
}